# Data Structure Algorithm (sangat penting bos!!!)

# Numeric

In [3]:
angka_1 = '12'
type(angka_1)

str

In [4]:
12 + 12

24

In [5]:
angka_1 = 30
convert_str = str(angka_1)
type(convert_str)

str

In [6]:
convert_int = int(angka_1)
type(convert_int)

int

In [12]:
angka_1 = float(input("Masukkan Angka Pertama : "))
angka_2 = float(input("Masukkan Angka ke-2"))
method = input("Pilih Operasi : (Perkalian, Tambah dan Kurang)")

if method.lower() == "Penambahan":
    print(angka_1 + angka_2)
elif method.lower() ==  "Perkalian":
    print(angka_1 * angka_2)
elif method.lower() == "Pengurangan":
    print(angka_1 - angka_2)

# Data Structure Algorithms

DSA adalah sebuah tipe data yang dapat menyimpan sebuah atau lebih nilai. <br>

1. List
2. Tuple
3. Set
4. Dictionary

## List
List adalah sebuah tipe data yang dapat menyimpan berbagai jenis nilai, meskipun nilai yang tersimpan berbeda-beda. <br>
contoh: [1,2,3,"Reza"]. <br>

Ciri-ciri List: <br>
1. List ditandai dengan tanda kurung siku '[ ]'
2. List bisa dimodifikasi baik menambahkan value ke dalam list, menghapus dan memodifikasi nilai dalam sebuah list (mutable/dapat diubah-ubah)
3. List dapat diconversi menjadi sebuah Tuple/Set
4. List dapat di-looping baik itu FOR atau WHILE

In [25]:
list_student = ["Reza", "Cipi", "Radya", "Heyzel", 31, 22]

type(list_student)

list

## Operasi LIST

### Indexing
adalah sebuah method untuk mengakses value atau elemen pada posisi tertentu. INGAT: PYTHON dimulai index = 0

In [28]:
list_student[-3]

'Heyzel'

### Slicing
adalah sebuah method yang digunakan untuk mengambil nilai banyak sekaligus. var_list[start:end:step] <br>
    - start adalah index awal <br>
    - end adalah index terakhir. ingat bahwa index end harus ditambah 1

In [31]:
list_student

['Reza', 'Cipi', 'Radya', 'Heyzel', 31, 22]

In [36]:
list_student[5:0:-1] # reverse slicing

[22, 31, 'Heyzel', 'Radya', 'Cipi']

### Modifikasi Pada List
- Penambahan element ke dalam sebuah list :
    'list.append(element)', append adalah sebuah function yang dipake untuk nambahin element di sebuah list

In [37]:
list_student

['Reza', 'Cipi', 'Radya', 'Heyzel', 31, 22]

In [40]:
list_student.append(98)

In [41]:
list_student

['Reza', 'Cipi', 'Radya', 'Heyzel', 31, 22, 'Dewi', 98]

## Extend <br>
list.extend(list_2), extend adalah sebuah function yang digunakan element dari list lain ke list target

In [44]:
list_other_student = ["luffy", "zoro", "sabo"]

In [45]:
list_other_student

['luffy', 'zoro', 'sabo']

In [46]:
list_student.extend(list_other_student)

In [47]:
list_student

['Reza',
 'Cipi',
 'Radya',
 'Heyzel',
 31,
 22,
 'Dewi',
 98,
 'luffy',
 'zoro',
 'sabo']

## Insert
sebuah function untuk memasukkan element pada posisi tertentu. <br>
`list.insert(index,element)

In [48]:
list_student.insert(2,"refina")

In [49]:
list_student

['Reza',
 'Cipi',
 'refina',
 'Radya',
 'Heyzel',
 31,
 22,
 'Dewi',
 98,
 'luffy',
 'zoro',
 'sabo']

## Menghapus Element pada List
    - pop : sebuah function yang akan menghapus element pada posisi tertentu
    - remove : sebuah function yang akan menghapus berdasarkan element yang didefinisikan
    - del : akan menghapus variable/memory yang menyimpan variable tersebut

In [50]:
list_student.pop(11)

'sabo'

In [51]:
list_student

['Reza',
 'Cipi',
 'refina',
 'Radya',
 'Heyzel',
 31,
 22,
 'Dewi',
 98,
 'luffy',
 'zoro']

In [52]:
#remove
list_student.remove(98)

In [53]:
list_student

['Reza', 'Cipi', 'refina', 'Radya', 'Heyzel', 31, 22, 'Dewi', 'luffy', 'zoro']

## Modifikasi Element dalam List

In [56]:
list_bunga = ["mawar", "tulip", "anggrek", "bangkai", "melati"]

#looping
#list comprehension
list_bunga_baru = ['bunga ' + bunga for bunga in list_bunga]
list_bunga_baru

['bunga mawar',
 'bunga tulip',
 'bunga anggrek',
 'bunga bangkai',
 'bunga melati']

In [59]:
list_bunga_baru = []

for bunga in list_bunga:
    list_bunga_baru.append("bunga " + bunga)

In [60]:
list_bunga_baru

['bunga mawar',
 'bunga tulip',
 'bunga anggrek',
 'bunga bangkai',
 'bunga melati']

In [63]:
#contoh lain

daftar_coklat = ["roti", "es krim", "waffle"]
daftar_coklat

['roti', 'es krim', 'waffle']

In [66]:
daftar_coklat_baru = []

for coklat in daftar_coklat:
    daftar_coklat_baru.append(coklat + " coklat")

daftar_coklat_baru

['roti coklat', 'es krim coklat', 'waffle coklat']

In [69]:
# menghitung rata-rata student
list_nilai = [95, 85, 90, 80, 75, 70,]

total_nilai = 0

for nilai in list_nilai:
    total_nilai += nilai

rata_rata = total_nilai / len(list_nilai)
print(f"rata rata nilai : {rata_rata}")

rata rata nilai : 82.5

In [73]:
# list komperhension
# ada 2

list_lulus = []

for x in list_nilai:
    if x > rata_rata:
        list_lulus.append("Lulus")
    else:
        list_lulus.append("Tidak Lulus")

list_lulus

['Lulus', 'Lulus', 'Lulus', 'Tidak Lulus', 'Tidak Lulus', 'Tidak Lulus']

# buatlah list berat orang dan berikan tanda kurus jika di bawah rata-rata, selain itu obesitas

In [85]:
berat_orang = [90, 80, 75, 60, 55, 50]

berat_orang

[90, 80, 75, 60, 55, 50]

In [87]:
berat_orang = [90, 80, 75, 60, 55, 50]

total_berat_orang = 0

for berat in berat_orang:
    total_berat_orang += berat

rata_rata_berat = total_berat_orang / len(berat_orang)
print(f"rata rata berat : {rata_rata_berat}")

rata rata berat : 68.33333333333333

In [91]:
list_status = []

for x in berat_orang:
    if x > rata_rata_berat:
        list_status.append("obesitas")
    else:
        list_status.append("kurus")

list_status

#done

['obesitas', 'obesitas', 'obesitas', 'kurus', 'kurus', 'kurus']

## Tuple

Tuple adalah tipe data yang menyimpan element dengan berbagai type. Tuple bisa di index, slicing, tetapi tidak dapat di modifikasi <br>

tuple dibentuk dengan tanda kurung bulat `()`

In [94]:
tuple_1 = (1,2,3,4)
type(tuple_1)

tuple

In [92]:
# untuk bisa memanipulasi tuple maka perlu dilakukan konversi dari tuple menjadi list
tuple_1 = (1,2,3,4)
tuple_to_list = list(tuple_1)
type(tuple_to_list)

list

In [93]:
tuple_to_list.append(15)
tuple_1 = tuple(tuple_to_list)
tuple_1

(1, 2, 3, 4, 15)