In [3]:
# variable dan values

In [ ]:
# variable dan values

- Values : suatu nilai yang ingin didefinisikan
- Variable : sebuah penampung values yang bisa dipanggil kapan
- fungsi = print sebuah built in function yang berfungsi untuk men-display baik values maupun variable

In [5]:
"Muhammad Reza"

'Muhammad Reza'

In [6]:
31

31

sebuah teks berupa markdown

# Variable

In [8]:
Nama = "Reza"

In [9]:
Nama

'Reza'

In [19]:
nama_saya = "Muhammad Reza"
umur = 26   

print (nama_saya,umur)

Muhammad Reza 26

# Custom Print

In [25]:
# membuat profil sederhana
nama = "Muhammad Reza"
umur = 26
pekerjaan = "Junior Data Analyst"
riwayat_pendidikan = "S1"

print("Halo nama saya", nama,"Umur saya", umur, "tahun.","\nSaat ini saya bekerja sebagai", pekerjaan,\
      "\nRiwayat Pendidikan saya", riwayat_pendidikan)

Halo nama saya Muhammad Reza Umur saya 26 tahun.
Saat ini saya bekerja sebagai Junior Data Analyst
Riwayat Pendidikan saya S1

In [26]:
11 % 3

2

In [27]:
5 % 4

1

In [28]:
6 % 3

0

In [29]:
8 % 2

0

In [30]:
8 % 4

0

In [32]:
# angka = 6

# if angka%2 == 0:
#     print("genap")

genap

# Formatting
    - formatting dengan .format()
    - formatting dengan f

In [46]:
# membuat profil sederhana
nama = "Muhammad Reza"
umur = 26
pekerjaan = "Junior Data Analyst"
riwayat_pendidikan = "S1"

print("Hallo nama saya {}. \nSaat ini saya berusia {} tahun. \nSaat ini saya bekerja sebagai {}. \nRiwayat pendidikan saya adalah {}"
.format(nama,umur,pekerjaan,riwayat_pendidikan)
)

Hallo nama saya Muhammad Reza.
Saat ini saya berusia 26 tahun.
Saat ini saya bekerja sebagai Junior Data Analyst.
Riwayat pendidikan saya adalah S1

In [52]:
# formatting dengan f-string
# membuat profil sederhana
nama = "Muhammad Reza"
umur = 26
pekerjaan = "Junior Data Analyst"
riwayat_pendidikan = "S1"

print(f"Hallo nama saya {nama}. \nSaat ini saya berusia {umur} tahun. \
\nSaat ini saya bekerja sebagai {pekerjaan}. \nRiwayat pendidikan saya adalah {riwayat_pendidikan} Teknik Informatika")

Hallo nama saya Muhammad Reza.
Saat ini saya berusia 26 tahun.
Saat ini saya bekerja sebagai Junior Data Analyst.
Riwayat pendidikan saya adalah S1 Teknik Informatika

# Percabangan Logika

# Data Type

- Text :
    - String, semua yang ada tanda kutip nya. contoh: "Reza" <br>
    
- Numeric :
    - Integer (bilangan bulat), biasa disingkat jadi int (semua bilangan bulat) <br>
    - Float (bilangan desimal), bilangan decimal, contoh: 3.2

- Boolean : tipe data benar dan salah.
    - True
    - False

In [53]:
angka = 31
baca = "Buku"

type(angka)

int

In [54]:
type(baca)

str

# IF-ELIF-ELSE

## AND OR
AND

TRUE AND TRUE = TRUE <br>
TRUE AND FALSE = FALSE <br>
FALSE AND TRUE = FALSE<br>
FALSE AND FALSE = FALSE<br>

OR

TRUE OR TRUE = TRUE<br>
TRUE OR FALSE = TRUE<br>
FALSE OR TRUE = TRUE<br>
FALSE OR FALSE = FALSE<br>

In [60]:
nilai_1 = 90
min_kelulusan = 80

if nilai_1 >= min_kelulusan:
    print ("lulus cuy")

lulus cuy

# IF - ELIF

In [61]:
# IF

nilai_1 = 90
nilai_1 = 80
nilai_1 = 75
min_kelulusan = 80

if nilai_3 >= min_kelulusan:
    print ("lulus cuy")
elif nilai_3 <= min_kelulusan:
    print ("yah belum lulus cuy")

yah belum lulus cuy

# IF - ELIF - ELSE

In [63]:
nilai = input("Masukan nilai : ")
type (nilai)

str

In [64]:
nilai = float(input("Masukan nilai student: "))
type(nilai)

float

In [65]:
nilai = float(input("Masukan nilai Mahasiswa : "))

if nilai >= 80:
    print("Selamat nilai anda A")
elif nilai >= 70: #rentang nilai dari 70-80
    print("Selamat nilai anda B")
elif nilai >= 60: #rentang nilai dari 60-70
    print("Selamat nilai anda C")
else:
    print("yah belum lulus cuy, gimana nih")

Selamat nilai anda B